Django==5.2.14

=======
PyYAML
numpy
neo4j
openai
psycopg2-binary
sentence-transformers
redis==5.0.8
google-auth==2.55.1
langgraph
PyMuPDF
python-dotenv
typing_extensions


#########재강#######
beautifulsoup4>=4.12,<5
playwright>=1.49,<2
requests>=2.32,<3
PyMuPDF>=1.25,<2
pdfplumber>=0.11,<1
